{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    // use @emotion/styled and @emotion/react without macro
    //
    // Use "lodash/component" instead of "lodash" for tree shaking
    "no-restricted-imports": [
      "warn",
      {
        "paths": ["@emotion/styled/macro", "@emotion/react/macro", "lodash"]
      }
    ]
  }
}
